# LIST

In [4]:
a = ["Raju", 12 , 32.56 , [1 , 2 , 3]]

In [5]:
a

['Raju', 12, 32.56, [1, 2, 3]]

In [6]:
a.append("Hello World")
a

['Raju', 12, 32.56, [1, 2, 3], 'Hello World']

In [8]:
a.count(12)

1

In [9]:
a.index("Hello World")

4

In [10]:
a.remove("Hello World")

In [11]:
a

['Raju', 12, 32.56, [1, 2, 3]]

In [12]:
a.pop(1)

12

In [13]:
a

['Raju', 32.56, [1, 2, 3]]

# DICT

In [14]:
dit = {"name":"Raju", "age":"22", "college":"NCER"}

In [16]:
dit

{'name': 'Raju', 'age': '22', 'college': 'NCER'}

In [19]:
dit.get("name")

'Raju'

In [20]:
dit.values()

dict_values(['Raju', '22', 'NCER'])

In [21]:
dit.keys()

dict_keys(['name', 'age', 'college'])

In [22]:
y = ("val")
dit.fromkeys(dit,y)

{'name': 'val', 'age': 'val', 'college': 'val'}

In [23]:
dit.update({"school" : "PCCOE"})

In [24]:
dit

{'name': 'Raju', 'age': '22', 'college': 'NCER', 'school': 'PCCOE'}

# SET

In [25]:
s = {"Bhavishya" , "lives" , "in" , 1, 45, 2, 1 ,2 }
s

{1, 2, 45, 'Bhavishya', 'in', 'lives'}

In [26]:
s1 = { 1, "lives"}

In [27]:
s1.issubset(s)

True

In [28]:
s1.intersection(s)

{1, 'lives'}

In [29]:
s1.difference(s)

set()

In [30]:
s1.add("India")
s1

{1, 'India', 'lives'}

In [31]:
s1.update(["taj" , "mahal" , "beauty"])
s1

{1, 'India', 'beauty', 'lives', 'mahal', 'taj'}

In [34]:
s

{1, 2, 45, 'Bhavishya', 'in', 'lives'}

In [36]:
for x in s:
 print(x)

in
1
2
45
Bhavishya
lives